.home-container {
  text-align: center;
  padding: 3rem 2rem;
  background: linear-gradient(to right, #7fdc85, #8d8def);
  font-family: 'Segoe UI', sans-serif;
}

.wallet-section {
  margin-top: 1rem;
}

.wallet-button,
.login-button {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #0077cc;
  color: white;
  transition: background-color 0.3s ease;
}

.wallet-button:hover,
.login-button:hover {
  background-color: #005fa3;
}

.wallet-address {
  margin-top: 1rem;
  font-weight: 500;
  color: #333;
}

.status-message {
  margin-top: 1rem;
  font-weight: 500;
  color: #cc0000;
}
.explore-section {
  margin-top: 30px;
  background-color: #eabee2;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.explore-button {
  background-color: #1f018c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;

}
.explore-button:hover{
  background-color: rgb(146, 8, 19);
}